.calc-buttons{
    height: 90px;
    width: 90px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #f4f1f1;
    user-select: none;

}
.big-buttons{
    width: 180px;
    background-color: rgb(63, 241, 81);
}